# Núcleo de análisis
pandas==2.3.2
numpy==2.2.6

# Visualización
matplotlib==3.10.6
wordcloud==1.9.4
seaborn==0.13.2

# Redes
networkx==3.4.2
python-louvain==0.16  # import community as community_louvain

# NLP + tópicos
nltk==3.9.1
scikit-learn==1.7.1

# Kernel y entorno de notebook
ipykernel==6.30.1
notebook==7.4.5
jupyterlab==4.4.6

# Otros útiles
tqdm==4.67.1
plotly==5.22.0